.swipper_page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  .app_group {
    margin: 10px calc(12.5% - 30px);
    height: 120px;
    border-radius: 13.5px;
    background-color: $opac_bg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $other_text_color;
  }

  .app_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .app_item {
      display: flex;
      justify-content: center;
      width: 25%;
    }
  }
}