.application {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
    border-radius: 22.5%;
    overflow: hidden;
  }
  
  .app_name {
    margin-top: 6px;
    font-size: 13px;
    color: $text_color;
  }
}