@unocss all;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: SpecialSymbol, DINRegular, -apple-system, BlinkMacSystemFont, Arial, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", 微软雅黑, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

.main-bg {
  background-image: url(../assets/images/background.png);
  background-position: top center;
}

.heart {
  z-index: 999;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-banner::after {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  bottom: -4px;
  left: 0;
  right: 0;
  background-image: radial-gradient(circle, transparent 70%, rgba(255, 255, 255, .9) 70%);
  background-size: 10px 14px;
  background-position: 0 -6px;
}

html.dark .page-banner::after {
  background-image: radial-gradient(circle, transparent 70%, rgba(68, 68, 68, .9) 70%);
}